@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #111827;
    background-color: #f9fafb;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
  }

  body {
    margin: 0;
    background-color: inherit;
  }

  button {
    font: inherit;
  }
}
